RUNNING_SERVERLESS=1

VXTWITTER_LINK_CACHE=db
VXTWITTER_DATABASE=${{ MongoDB.MONGO_URL }}
VXTWITTER_CACHE_TABLE=TwiFix

VXTWITTER_APP_NAME=vxTwitter
VXTWITTER_COLOR=#1DA1F2
VXTWITTER_REPO=https://github.com/dylanpdx/BetterTwitFix
VXTWITTER_URL=https://${{ RAILWAY_PUBLIC_DOMAIN }}

VXTWITTER_COMBINATION_METHOD=local
VXTWITTER_GIF_CONVERT_API=local

VXTWITTER_WORKAROUND_TOKENS=
DEEPL_API_KEY=
